body{
    background-color: #dcddd7;
    color: #1d1d1d;
    background-image: url('pkmn-list.png');
    background-repeat: none;
    background-size: cover;
}
.col-md-12{
    width: 100vw;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer{
    text-align: center;
}
#hr-copy{
    border-top: 3px solid #1d1d1d;
    width: 450px;
}
.pokedex{
    width: 450px;
    height:700px;
    background-color:red;
    border: 4px solid #1d1d1d;
    border-radius: 12%;
    box-shadow: 33px 18px #1d1d1dd0;
    margin-top: 10%;
}
#accensione{
    height:40px;
    width:40px;
    background-color: rgb(8, 184, 184);
    border:3px solid #cccccc;
    border-radius: 50%;
    top: 10px;
    left: 30px;
    position: relative;
    box-shadow: 4px 2px #1d1d1dd0;
}
#prev{
    height:20px;
    width:20px;
    background-color: #861e1e;
    border-radius: 50%;
    top: 10px;
    left: 30px;
    margin-left:5px;
    margin-right:5px;
    position: relative;
    box-shadow: 4px 2px #1d1d1dd0;
}
#next{
    height:20px;
    width:20px;
    background-color: #babd20;
    border-radius: 50%;
    top: 10px;
    left: 30px;
    position: relative;
    box-shadow: 4px 2px #1d1d1dd0;
}
#pkdx{
    height:20px;
    top: 10px;
    right: 38px;
    position: absolute;
}
#colDisplay{
    display:flex;
    justify-content: center;
    align-items: center;
}
#display{
    height: 220px;
    width: 210px;
    margin-top: 25px;
    transform: translateX(-13px);
    background-color: black;
    border: 11px double#cecece;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 0px #1d1d1dd0;
}
#rotatePkmn{
    position:absolute;
    right: 42%;
    top: 80%;
    z-index: 1;
}
#image{
    z-index: 0;
    width:160px;
    visibility: hidden;
    
}
.info-2{
    height:22px;
    width:125px;
    background-color:#5cddcc;
    border:1px solid black;
    text-align:center;
    line-height: 22px; 
}
.w3-container{
    background-color: #861e1e;
    border:1px solid black;
    width: 145px;
    margin: 25px;
}
#hpBar{
    height:15px;
    width:0%;
    background-color: aqua;
}
#atkBar{
    height:15px;
    width:0%;
    background-color: aqua;
}
#defBar{
    height:15px;
    width:0%;
    background-color: aqua;
}
#satkBar{
    height:15px;
    width:0%;
    background-color: aqua;
}
#sdefBar{
    height:15px;
    width:0%;
    background-color: aqua;
}
#spdBar{
    height:15px;
    width:0%;
    background-color: aqua;
}
.stat{
    margin:25px;
    font-weight: bold;
    font-size: 25px;
}
.info{
    font-weight: bold;
    color: black;
    margin-top: 3px;
}
.pkdx-footer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.info-3{
    height: 30px;
    width: 55px;
    background-color: #5cddcc;
    border: 1px solid black;
    text-align: center;
    line-height: 27px;
    margin-left: 90px;
    margin-top: 5px;
    position: absolute;
}
.final-butt{
    height: 32px;
    width: 125px;
    background-color: #c79800;
    border: 3px solid #1d1d1d;
    border-radius: 33%;
    top: 50%;
    margin-top: 14px;
    left: -8%;
    position: relative;
    box-shadow: 4px 2px #1d1d1dd0;
}
#normal-button{
    background-color: #fdd246;   
}
button:hover{
    background-color: #fdd246;
}
button:active{
    bottom: -2px;
    box-shadow: 4px 0px #1d1d1dd0;}
button:focus{
    outline:0;
}
div.focus{
    outline:0;
}
.footer
{
    font-weight:bold;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#idsearch{
    background-color: #5cddcc;
    height: 30px;
    width: 30px;
    position: relative;
    left: 36px;
    top: 10px;    
    text-align: center;
    border-left:2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#search{
    background-color: #5cddcc;
    width: 50px;
    height: 30px;
    top: 10px;
    left: 36px;
    padding: 4px 0px 7px 0px;
    font-weight: bold;
    border-top: 2px solid black;
    border-right: none;
    border-bottom: 2px solid black;
    border-left:none;
    position: relative;
    text-align: center;
}
#idsearch2{
    background-color: #5cddcc;
    height: 30px;
    width: 46px;
    position: relative;
    left: 36px;
    top: 10px;
    border-left:none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#search2{
    background-color: #5cddcc;
    width: 120px;
    height: 30px;
    top: 10px;
    left: 36px;
    padding: 4px 0px 7px 3px;
    font-weight: bold;
    border-top: 2px solid black;
    border-right: none;
    border-bottom: 2px solid black;
    border-left: none;
    position: relative;
}
#idsearch3{
    background-color: #5cddcc;
    height: 30px;
    width: 30px;
    position: relative;
    left: 36px;
    top: 10px;
    border-right:2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}